# Игнорировать ВСЕ файлы и директории, включая поддиректории и файлы в них
# ---- ФАЙЛЫ ----
# Игнорирование по типу файла, будут игнорироваться в АБСОЛЮТНО всех директориях
# Например /files/data.zip, /server.log, /uploads/users/data/info.xls
*.cbp
*.depend
*.layout
*.o
*.exe
#/main.c (?)
bin/*
obj/*
# ---- РАЗНОЕ ----
# Исключение из игнорирования
# Игнорирование ВСЕХ файлов и папок внутри директории /secret,
# за исключением файла /secret/free.txt, он не будет проигнорирован
# /secret/*
# !/secret/free.txt
